.content {
  .breadcrumbs {
    margin-top: 5px;
    margin-bottom: 20px;
    li {
        display: inline;
      &:after {
        content: "/";
        padding-left: 5px;
      }
      a {
        letter-spacing: 0.38px;
        color: #767676;
        text-decoration: underline;
      }
    }
  }
  .left-block {
    width: 178px;
    float: left;

    .price-list {
      float: right;
      margin-top: 105px;
      margin-right: 0px;
      text-align: center;
      width: 170px;

      p {
        font-size: 30px;
        line-height: 25px;
        letter-spacing: 0.75px;
        font-weight: bold;
        color: $dark-gray;
      }
    }


    .left-block-title {
      font-size: 19px;
      color: $dark-gray;
      margin-bottom: 4px;
    }

    .products-navigation {
      font-size: 18px;
      letter-spacing: 0.46px;

      li {
        line-height: 30px;
      }

      a {
        color: $dark-gray;
        text-decoration: none;
        &:active {
          text-decoration: underline;
        }
        &:hover {
          text-decoration: underline;
        }
      }

      .category-navigation {
        font-size: 14px;
        margin-left: 1px;
        margin-bottom: 6px;
        li {
          line-height: 20px;
          &:before {
            content: "\2022";
            font-weight: bold;
            display: inline-block;
            color: $dark-gray;
            width: 1em;
          }

          a {
            color: $dark-gray;
            text-decoration: none;
          }

          a:active {
            text-decoration: underline;
          }

          a:hover {
            text-decoration: underline;
            color: black;
          }

        }

      }
    }
  }

  .right-block {
    padding-top: 4px;
    float: right;
    margin-left: 20px;
    width: 781px;
    padding-bottom: 50px;
    border-bottom: 1px solid $dark-gray;
    .product {
      width: 250px;
      height: 380px;
      box-sizing: border-box;
      padding: 20px;
      position: relative;
      background-color: $light-gray;
      float: left;
      margin-right: 10px;
      margin-bottom: 20px;
    }

    .description {
      margin-top: 9px;
      font-size: 18px;
      letter-spacing: 0.45px;
      a {
        color: $dark-gray;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .price {
      position: absolute;
      color: $darkest-gray;
      bottom: 21px;
      font-size: 28px;
      line-height: 18px;
      letter-spacing: 0.7px;
      font-weight: bold;
    }

    .basket {
      position: absolute;
      bottom: 12px;
      right: 35px;
    }

    .pager {
      margin: 10px auto;
      box-sizing: border-box;
      text-align: center;
      height: 23px;
      li {
        display: inline;
        text-align: center;
        letter-spacing: 12.91px;
        font-size: 14px;
        a {
          color: $dark-gray;
          text-align: center;
          text-decoration: none;

          &:hover {
            font-size: 18px;
          }
        }
      }
   }

  }

}
