.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 0px 10px 10px;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

body {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 22px;
  position: relative;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}




.main-wrapper {
  position: relative;
  min-height: 100%;
}
