@font-face {
  font-family: OpenSansCondensed;
  src: url("../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
}

@font-face {
  font-family: PT_Sans;
  src: url("../fonts/PT_Sans/PT_Sans-Web-Regular.ttf");
}