.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 210px;
  .wrapper {
    display: flex;
  }
  background: $dark-gray;
  padding-top: 44px;
  height: 186px;
  color: white;
  letter-spacing: 0.35px;
  a {
    color: white;
  }
  .info {
    width: 350px;
    a {
      text-decoration: none;
    }
  }
  .footer-navigation {
    line-height: 1.9;
    width: 403px;
    overflow-y: auto;
    height: 176px;
    padding-bottom: 20px;
    box-sizing: border-box;
  }

  .logo {
    float: left;
    margin-right: 10px;
  }

  .footer-logo {
    padding-top: 6px;
    width: 220px;
  }

  .description {
    position: relative;
    top: -6px;
  }

}