@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@font-face {
  font-family: OpenSansCondensed;
  src: url("../fonts/Open_Sans_Condenced/OpenSans-CondLight-webfont.eot");
  src: url("../fonts/Open_Sans_Condenced/OpenSans-CondLight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Open_Sans_Condenced/OpenSans-CondLight-webfont.woff") format("woff"), url("../fonts/Open_Sans_Condenced/OpenSans-CondLight-webfont.ttf") format("truetype"), url("../fonts/OpenSans-CondLight-webfont.svg#open_sanscondensed_light") format("svg");
  font-weight: normal;
  font-style: normal; }

.header {
  background: #DBDBDB;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 230px; }
  .header .logo {
    margin-top: 65px;
    float: left; }
  .header .phones-callback {
    float: right;
    color: #767676;
    font-size: 40px;
    line-height: 46px;
    letter-spacing: 1px;
    font-family: OpenSansCondensed;
    margin-right: 24px;
    margin-top: 35px; }
  .header .callback {
    line-height: 40px;
    font-family: PT_Sans;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
    float: right;
    cursor: pointer; }

.menu {
  background: #767676;
  min-height: 80px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .menu .navigation ul {
    text-align: center;
    font-size: 30px;
    letter-spacing: 0.75px;
    padding-top: 25px;
    line-height: 30px; }
    .menu .navigation ul li {
      display: inline; }
      .menu .navigation ul li a {
        color: white;
        text-decoration: none; }
        .menu .navigation ul li a:hover {
          text-decoration: underline; }
    .menu .navigation ul li:after {
      content: '|';
      padding-left: 21px;
      color: white; }
    .menu .navigation ul li:last-child:after {
      content: ''; }

li:last-child:after {
  content: ''; }

.slider {
  background: #F9F9F9;
  position: relative;
  height: 400px;
  overflow: hidden; }
  .slider .wrapper {
    position: relative; }
  .slider .arrow {
    position: absolute;
    top: 155px;
    z-index: 2;
    cursor: pointer; }
  .slider .arrow-right {
    right: 0px; }
  .slider .slide {
    top: -60px;
    left: -130px;
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear; }
  .slider .show {
    opacity: 1;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear; }
  .slider .hide {
    opacity: 0;
    -webkit-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear; }

.content .breadcrumbs {
  margin-top: 5px;
  margin-bottom: 20px; }
  .content .breadcrumbs li {
    display: inline; }
    .content .breadcrumbs li:after {
      content: "/";
      padding-left: 5px; }
    .content .breadcrumbs li a {
      letter-spacing: 0.38px;
      color: #767676;
      text-decoration: underline; }

.content .left-block {
  width: 178px;
  float: left; }
  .content .left-block .price-list {
    float: right;
    margin-top: 105px;
    margin-right: 0px;
    text-align: center;
    width: 170px; }
    .content .left-block .price-list p {
      font-size: 30px;
      line-height: 25px;
      letter-spacing: 0.75px;
      font-weight: bold;
      color: #767676; }
  .content .left-block .left-block-title {
    font-size: 19px;
    color: #767676;
    margin-bottom: 4px; }
  .content .left-block .products-navigation {
    font-size: 18px;
    letter-spacing: 0.46px; }
    .content .left-block .products-navigation li {
      line-height: 30px; }
    .content .left-block .products-navigation a {
      color: #767676;
      text-decoration: none; }
      .content .left-block .products-navigation a:active {
        text-decoration: underline; }
      .content .left-block .products-navigation a:hover {
        text-decoration: underline; }
    .content .left-block .products-navigation .category-navigation {
      font-size: 14px;
      margin-left: 1px;
      margin-bottom: 6px; }
      .content .left-block .products-navigation .category-navigation li {
        line-height: 20px; }
        .content .left-block .products-navigation .category-navigation li:before {
          content: "\2022";
          font-weight: bold;
          display: inline-block;
          color: #767676;
          width: 1em; }
        .content .left-block .products-navigation .category-navigation li a {
          color: #767676;
          text-decoration: none; }
        .content .left-block .products-navigation .category-navigation li a:active {
          text-decoration: underline; }
        .content .left-block .products-navigation .category-navigation li a:hover {
          text-decoration: underline;
          color: black; }

.content .right-block {
  padding-top: 4px;
  float: right;
  margin-left: 20px;
  width: 781px;
  padding-bottom: 50px;
  border-bottom: 1px solid #767676; }
  .content .right-block .product {
    width: 250px;
    height: 380px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
    position: relative;
    background-color: #DBDBDB;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px; }
  .content .right-block .description {
    margin-top: 9px;
    font-size: 18px;
    letter-spacing: 0.45px; }
    .content .right-block .description a {
      color: #767676;
      text-decoration: none; }
      .content .right-block .description a:hover {
        text-decoration: underline; }
  .content .right-block .price {
    position: absolute;
    color: #535353;
    bottom: 21px;
    font-size: 28px;
    line-height: 18px;
    letter-spacing: 0.7px;
    font-weight: bold; }
  .content .right-block .basket {
    position: absolute;
    bottom: 12px;
    right: 35px; }
  .content .right-block .pager {
    margin: 10px auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    height: 23px; }
    .content .right-block .pager li {
      display: inline;
      text-align: center;
      letter-spacing: 12.91px;
      font-size: 14px; }
      .content .right-block .pager li a {
        color: #767676;
        text-align: center;
        text-decoration: none; }
        .content .right-block .pager li a:hover {
          font-size: 18px; }

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  background-color: rgba(0, 0, 0, 0.5); }
  .popup .popup-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    background-color: rgba(0, 0, 0, 0.5); }
  .popup .form-wraрpper {
    width: 464px;
    height: 578px;
    background-color: white;
    margin: 8vh auto;
    z-index: 4;
    position: relative; }
    .popup .form-wraрpper .close {
      position: absolute;
      right: -27px;
      padding-left: 6px;
      padding-top: 5px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      top: -27px;
      width: 27px;
      background: #767676;
      cursor: pointer; }
  .popup .feedback-title {
    color: #535353;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding-top: 33px;
    margin-bottom: 26px;
    color: #767676; }
  .popup input {
    display: block;
    margin: 0 auto;
    width: 339px;
    height: 40px;
    border: 1px solid #c3c3c3;
    margin-bottom: 13px; }
  .popup .input-description {
    text-align: center;
    margin-bottom: 1px; }
  .popup textarea {
    resize: none;
    display: block;
    margin: auto; }
  .popup .send {
    display: block;
    width: 128px;
    margin-top: 26px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background: #767676; }

.company-description {
  width: 805px;
  float: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 440px; }
  .company-description .description-content {
    line-height: 22px;
    width: 395px;
    letter-spacing: 0.35px;
    color: #767676; }

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-top: 210px;
  background: #767676;
  padding-top: 44px;
  height: 186px;
  color: white;
  letter-spacing: 0.35px; }
  .footer .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .footer a {
    color: white; }
  .footer .info {
    width: 350px; }
    .footer .info a {
      text-decoration: none; }
  .footer .footer-navigation {
    line-height: 1.9;
    width: 403px;
    overflow-y: auto;
    height: 176px;
    padding-bottom: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .footer .logo {
    float: left;
    margin-right: 10px; }
  .footer .footer-logo {
    padding-top: 6px;
    width: 220px; }
  .footer .description {
    position: relative;
    top: -6px; }

.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 0px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  min-height: 100%; }

body {
  font-family: PT Sans;
  font-size: 14px;
  line-height: 22px;
  position: relative; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.main-wrapper {
  position: relative;
  min-height: 100%; }

@media screen and (max-width: 1248px) {
  .slider {
    display: none; } }
